Базовые знания сетевого оборудования, понимание стека TCP/IP и модели OSI. Грамотная речь, навыки телефонных переговоров, желание развиваться в профессиональном...
Владение Jira, Confluence, Figma, Miro. Ответственность, коммуникабельность, активность, позитивный взгляд на жизнь. Опыт программирования и работы в телекоме является необходимым.
Навыки создания технической документации. Умение читать техническую документацию. Умение добывать и конкретизировать необходимую информацию от разработчиков, четко выражать свои мысли...
1. Знание основ тестирования. Понимание что такое тесткейс, тестсьют, чеклист, какие виды тестирования существуют, как составлять баг...
Опыт работы в аналогичной должности не менее 1 года. Знание средств сетевого и системного управления. Знание серверной линейки ОС Microsoft...
Образование высшее техническое, IT. Технический английский (чтение). Отличное знание TCP/IP. Отличное знание OSPF, BGP, MPLS. Отличное знание *nix. 
Хорошее знание аппаратной части компьютерной техники. Хорошее знание систем семейства Windows (Windows 10, Windows Server 2008/2012/2016). 
Уверенное знание Linux. Понимание принципов работы реляционной базы данных. Знание SQL, опыт составления запросов. Знание Bash/Python/PowerShell. 
Образование техническое приветствуется. Опыт работы в продажах ИТ оборудования. Желание развиваться в профессии. Нацеленность на результат и способность к обучению...
Высшее техническое образование в сфере телекоммуникаций. Опыт работы в отрасли телекоммуникация не менее 5х лет; опыт руководящей работы от...
Знания OS Linux, опыт настройки и администрирования. Знания одного из скриптовых языков (python, perl). Опыт работы с Asterisk / Freeswitch. 
Опыт работы системой мониторинга Zabbix. Знание основ работы сетей Ethernet и WiFi, DHCP. DNS, модели OSI (L2 и...
Опыт работы от полугода в роли аналитика на проектах по созданию информационных систем. Знание процесса и этапов создания информационных систем.
Грамотная устная и письменная речь. Профильное образование или опыт работы в телекомсфере. Уровень английского языка, достаточный для чтения технической...
Аналитические способности. Знание основ статистики и математических методов. Знания современных систем управления базами данных. Хорошее знание SQL, PL/SQL. 
Исследование технологий необходимых для обеспечения эффективной работы систем хранения данных. Экспертные знания SQL (в том числе аналитические функции), оптимизации запросов. 
Стратегическое видение. Критическое мышление. Пунктуальность, таймменеджмент. Умение мотивировать других членов команды. Способность работать в условиях многозадачности. Эмпатия и клиентоориентированность. 
Высшее техническое образование.  Технический английский язык.  Опыт руководства группой от трех сотрудников.  Углубленное знание сетевых технологий и протоколов TCP/IP...
Опыт проектирования и сопровождения комплексных решений на основе Linux/Unix (Solaris)/Windows. Понимание процессов предоставления телекоммуникационных услуг. Знание телекоммуникационных протоколов...
Знание системного анализа и методов анализа бизнес процессов. Требования и навыки. Обязательные: Аналитические способности. Знание основ статистики и математических методов. 
