Опыт формирования команды инженеров и аналитиков данных. Опыт создания функции "с нуля". Понимание принципов работы искусственного интеллекта. Опыт реализации IT...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
В Lisa AI ищем миддл питониста с опытом FastAPI.  Минимум 1 год коммерческого опыта на python.  Опыт работы с FastAPI...
Знаете Python. Желание вовлечься в новую сферу art creation.
Разбираться в терминах и специфике Ad Tech/Programmatic/Ad Networks/DSP/SSP/Big Data/Data Science/Machine Learning (обязательно). 
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Нужен проактивный ведущий разработчик, с хорошим знанием математики, с верой/любовью в AI и МL. Это скорее экстраверт, с высоким...
Знание и применение методологий управления проектами, PMBook, нотаций моделирования бизнеспроцессов (uml, bpmn). Понимание основ направлений: AI, NLP, VMS, VCA...
Fluent English (C2), including exceptional verbal and written communications skills. Bachelor’s Degree or higher. Energetic individual with verified...
5 years of NLP experience notably in the design and development of multilingual scalable NLP models in highload production...
MS or PhD degree in Computer Science, Artificial Intelligence, Machine Learning, or related technical field. Or 3 years relevant experience...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Знание ML методов. Отличное знание Python. Знание библиотек pandas, numpy, scikitlearn, xgboost, tensorflow, pytorch. Знание SQL. Умение работать с...
Опыт управления маркетинговыми исследованиями не менее 3х лет. Опыт работы с технологическими B2B продуктами. Отличное знание методологии...
Отличное знание Python. Знание библиотек pandas, numpy, scikitlearn. SQL на продвинутом уровне. Понимание баз данных SQL и NoSQL. 
Опыт управления DS командой от 3 лет. Опыт организации процесса разработки и внедрения MLмоделей. Хороший кругозор в классических ML...
1 years experience with React, GraphQL and Node. 1 years experience with HTML/CSS and mobile web. Comfortable working in...
Наличие одного написанного с нуля проекта на Tensorflow или схожем фреймворке (рабочий или petproject не важно). Наличие математического бэкграунда...
Опыт работы в роли менеджера продукта (webservices, dev2dev продукты и сервисы) не менее 3 лет. 
Хорошее знание принципов разработки ПО: алгоритмы, деревья, графы, шаблоны, поиск ошибок, профилирование. Уверенное владение Python. Проактивный подход и стремление к...
